@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <p>Цей інформаційний ресурс був розроблений з метою ознайомити користувачів з дослідженнями і використанням космічного простору за допомогою ракетно-космічної техніки.
    На сайті можна переглянути інформацію про космічні апарати і їх місії, хронологію космічних запусків.
    Також можна ознайомитися з досягненнями України в космічній галузі.</p>
</div>
